/* 비주얼 (배너) */
.header{
    border-top: 5px solid #009223;
    margin: auto;
}
.logo{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.header-menu{
    width: 100%;
}
.header-menubar{
    display: flex;
    gap: 90px;
    width: 100%;
    justify-content: center;
    padding-bottom: 25px;
}
.header-menubar li a{
    font-size: 18px;
    font-weight: bold;
}
/* .header-menu>li{
    width: 165px;
} */
