.news {
  width: 100%;
  background-color: aliceblue;
  background: url(../images/imgi_30_bg_content.gif) repeat;
}
.news-wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 80px 0;
  align-items: center;
}
.news01 {
  display: flex;
  width: 100%;
  justify-content: center;
}
/* 이미지 너비 값 */
.news01-left{
  width: 20%;
}
.news01-right{
  width: 40%;
}
.news02 {
  display: flex;
  gap: 1.5%;
     /* height: 20vw; */
  /* padding: 0 3% 0 0; */
  width: 100%;
  height: 15%;
  justify-content: center;
  /* background-color: aquamarine; */
}
.whats-new {
  width: 40%;
   /* height: 100%; */
  border-radius: 30px 0 30px 0;
  background-color: #fff;
}
.news-img {
  overflow: hidden;
  width: 15%;
  /* height: 300px; */
   /* height: 100%; */
  border-radius: 30px 0 30px 0;
  margin-right: 3%;
  background-color: #fff;
}
.news-img img{
  width: 100%;
  display: block;
}